
body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: linear-gradient(90deg, #76e85f 0%, #ffffff 100%);
}
.image {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
/*
.image img {
    
}

.image

.image
*/

a {
  outline: none;
  text-decoration: none;
}

a:link {
  color: #265301;
}

a:visited {
  color: #437a16;
}

a:focus {
  border-bottom: 1px solid;
  background: #bae498;
}

a:hover {
  border-bottom: 1px solid;
  background: #cdfeaa;
}

a:active {
  background: #265301;
  color: #cdfeaa;
}

.hrefbutton {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0;
    padding: 0;
}

.font-effect-fire-animation {
    display: inline;
    margin: 0 10% 0 5%;
    padding: 1% 2% 1% 2%;
    border: solid 1px green;
    box-shadow: 0 2px 4px black;
    border-radius: 10px;
}

.font-effect-anaglyph {
    display: inline;
    margin: 0 5% 0 10%;
    padding: 1% 2% 1% 2%;
    border: solid 1px green;
    box-shadow: 0 2px 4px black;
    border-radius: 10px;
}
.knopki {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.temper {
    width: 20px;
    border: solid 1px green;
    box-shadow: 0 2px 4px black;
    border-radius: 10px;
}
