
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

.image {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.image img {
    
}

.image

.image

.hrefbutton {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.knopki {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
