
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}
body {
    background: linear-gradient(90deg, #76e85f 0%, #ffffff 100%);
}
.image {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
/*
.image img {
    
}

.image

.image
*/
.hrefbutton {
    display: flex;
    justify-content: center;
    text-align: center;
}

.font-effect-fire-animation {
    display: inline;
    margin: 0 10% 0 5%;
    border: solid 1px green;
    box-shadow: 0 2px 4px black;
    border-radius: 10px;
}

.font-effect-anaglyph {
    display: inline;
    margin: 0 5% 0 10%;
    border: solid 1px green;
    box-shadow: 0 2px 4px black;
    border-radius: 10px;
}
.knopki {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.temper {
    width: 20px;
    border: solid 1px green;
    box-shadow: 0 2px 4px black;
    border-radius: 10px;
}
